@import url("https://use.typekit.net/kxl8kiy.css");

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border-left: 1rem black solid;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: davis-sans, sans-serif; /* TK ADD A SECONDARY DEFAULT—ROBOTO? */
}

h1, h2 {
    font-family: davis;
}

h2 {
    font-weight: 300;
}

span.textBG {
  display: inline;
  background: white;
  box-shadow: -.5rem 0 0 white, .5rem 0 0 white, -1rem .5rem 0 black;
} /* https://css-tricks.com/multi-line-padded-text/ */

a:link, a:visited {
    text-decoration: none;
    border-bottom: .15rem solid #FAC412;
    color: black;
    font-weight: 300;

}

a:hover, a:active {
    background: black;
    color: white;
    padding: .15rem .25rem;
    border: none;
}

img {
    max-width: 100%;
}

footer {
    border-top: 1px  solid black;
    padding: 2rem 0;
}

footer p {
    margin: 2rem;
}

/* --------------------- MAIN NAV ---------------------- */
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem;
    margin-left: -.5rem;
}

.navHome {
    font-family: davis;
    border: 0 !important;
    padding: .5rem;
}

.navHome:hover {
    background: black;
    padding: .5rem;
}

.name {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

.title {
    font-size: 1.25rem
}

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

nav li {
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 4rem;
}

nav a.active {
    background: black;
    color: white;
    padding: .15rem .25rem;
    border: none;
}


/* ----------------- MAIN CONTENT -------------------- */
.mainContent{
}

.contentHead {
    background: #FAC412;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 4rem 2rem;
}

.contentHead h1 {
    font-family: davis;
    font-weight: 300;
    width: 300px;
    margin: 0 2rem;
    text-align: right;

}

.contentHead p {
    width: 500px;
    margin: 0 2rem;
}

.contentHead .textBG {
    margin-right: .5rem;
}


/* -------- INDEX ---------- */
.index1 {
    background: url("assets/_frontpage/ecosystem.jpg") fixed center;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.index1 h1, .index1 h2 {
    margin: 3rem;
}

.index1 h1 {
    font-size: 4.5rem;
    font-style: italic;
    line-height: 6.5rem;
}

.index1 h2 {
    font-weight: lighter;
    font-size: 2.5rem;
    line-height: 4rem;
}

.index2 {
    background: white;
    min-height: 40vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.indexNav {
    padding: 0;
    margin: 2rem;
}

.indexNav li {
    font-size: 2rem;
    margin: 0 6rem 0 0;
}


/* -------------------- ABOUT ---------------------- */
.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
}

.about .images {
    width: 300px;
    margin: 0 2rem;
}

.images img {
    margin-bottom: 2rem;
}

.about .bio {
     max-width: 500px;
     margin: 0 2rem;
 }

 .bio p {
     margin: 1rem 0;
 }

 .bio ul {
     margin-left: 1.25rem;
 }

 .bio ul li {
     margin: .5rem 0;
 }
